Python==3.7.3
cufflinks==0.17.3
cycler==0.10.0
cymem==2.0.5
dash==2.0.0
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
Flask==2.0.2
Flask-Compress==1.10.1
matplotlib==3.4.3
numpy==1.18.5
seaborn==0.11.2
wrapt==1.12.1
xlrd==1.2.0
XlsxWriter==3.0.1
